# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Publish

on:
    push:
        tags:
            - "v*"

jobs:
    publish:
        runs-on: ubuntu-latest
        environment:
            name: pypi
            url: https://pypi.org/p/tdk-py
        permissions:
            id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: "3.10"
                    cache: "pip"
            -   name: Install Poetry
                run: |
                    python -m pip install --user pipx
                    python -m pipx ensurepath
                    pipx install poetry
                    pipx inject poetry "poetry-dynamic-versioning[plugin]"
            -   name: Build
                run: |
                    poetry build
            -   name: Publish package distributions to PyPI
                uses: pypa/gh-action-pypi-publish@release/v1
